.navbar{
    width:100%;
    background-color: black;
    height:70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}

.Links{
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.Links a{
    text-decoration: none;
    color: azure;
    margin-left: 20px;
}